.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    width: 80%;
    height: 200px;
    float: left;
    margin: 10px
}

.blog-img {
    width: 15%;
    height: 200px;
    float: left;
}

.blog-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    display: block;
    margin-right: 5px;
}

.blog-name {
    float: left;
}